/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: url('../images/X6zSnYI.png');
    font-family: 'Anton', sans-serif;
    color: white;
    letter-spacing: 2px;
}

h1 {
    font-size: 60px;
    color: rgb(255, 208, 0);
}

#splashscreen {
    background-repeat: no-repeat;
    width: 25%;
    height: 45%;
    margin: 0 auto;
    border-radius: 5px;
}

.black-background {
    background-color: #000000;
}

.white {
    color: #ffffff;
}

.splashBox {
    background-color: #00000065;
    margin: 0 auto;
    text-align: center;
    padding: 4%;
    margin-top: 40%;
}

.splashBox2 {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

.wrongBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

label {
    color:rgb(255, 208, 0);
}

#answerScreen {
    font-size: 60px;
    color:rgb(255, 208, 0);
    display: none;
    background-color: #00000065;
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    
}

#timesUp {
    font-size: 60px;
    color:rgb(255, 208, 0);
    display: none;
    background-color: #00000065;
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    
}

.up {
    font-size: 60px;
    color:rgb(255, 208, 0);
}

.timeRemain {
    padding: 2%;
    color: red;
}

.timeRemain #time-remain {
    font-size: 60px;
}

body .container {
    background-color: #00000065;
    height: 100%;
    text-align: center;
    display: none;
    margin-bottom: 5%;
    padding-bottom: 2%;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.questions {
    font-size: 25px;
}

header {
    font-size: 60px;
    color: white;
    margin-top: 2%;
}
.refreshText {
    font-size: 20px;
    color: white;
    margin-top: 2%;
}